body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Sen';
}

.intro {
    background-color: #141824;
    color: aliceblue;
    height: 80vh;
    align-items: center;
}

.intro-img {
    width: 60%;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 7%;
}

.text-intro {
    padding: 7%;
    margin-top: 7%;
}

.btn {
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    width: 40%;
    background-color: #A1B57D;
    border: #A1B57D;
}

span {
    background-color: #C0A080;
    padding: 1%;
}

.step-section {
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    width: 90%;
    padding: 5%;
}

.card {
    margin: 2% auto;
    border: #C0A080 1px solid;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    padding: 2%;
}

.spotify-section {
    background-color: #EEE6CE;
}

.spotify {
    width: 40%;
    align-items: center;
    margin: 0 auto;
}

.search-btn {
    margin: 1%;
    width: 45%;
    background-color: #655D8A;
}

input[type="text"] {
    width: 45%;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    padding: 0.4rem;
}

::placeholder {
    font-size: small;
}

.spot-img {
    object-fit: cover;
    width: 30%;
}

.spotify-results {
    padding: 2%;
    margin-top: 4%;
    align-items: center;
}

.spot-section {
    height: 55vh;
}

.stats-section {
    background-color: #fff;
}

.stats-btn {
    background-color: #694E4E;
    margin: 1%;
    width: 35%;
}

.stats-section input[type="text"] {
    width: 35%;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    padding: 0.4rem;
}

.copy-space {
    align-items: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.copy-btn {
    margin: 2%;
    width: 20%;
}