{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid intro">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container text-intro">
                <h1>Music has the power to shape, <br> change and reinforce our <br>perceptions.</h1>
                <p class="small p-2">Search your favourite musician's performance and stats.</p>
                <a href="#begin"><button class="btn btn-primary">Let's Begin</button></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container">
                <!-- <img class="d-none d-md-block d-sm-block intro-img1"
                src="https://thumbnails.production.thenounproject.com/kI53USzjuhbLdGybhpI0Y8HipWI=/fit-in/1000x1000/photos.production.thenounproject.com/photos/89F7E46E-A517-45AA-9E3B-A9A7FC67403E.jpg"
                
                alt=""> -->
                <img class="d-none d-md-block d-sm-block intro-img"
                    src="https://images.pexels.com/photos/2067677/pexels-photo-2067677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
            </div>

        </div>

    </div>
</div>
<div class="container text-center p-3 mt-5">
    <h3>Do you wish to know an <span>artist's</span> performance and stats?</h3>
</div>


<div class="container-fluid step-section">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" id="begin">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">STEP ONE</h5>
                    <p class="card-text">Get to know the name of the artist you want to search.</p>
                    <p class="small">For example, Sauti Sol</p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">STEP TWO</h5>
                    <p class="card-text">Search the Spotify ID of your artist</p>
                    <a href="#spot" class="btn btn-primary">Here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">STEP THREE</h5>
                    <p class="card-text">Input that Spotify ID to search the stats of the artist</p>
                    <a href="#" class="btn btn-primary">Here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid spotify-section">
    <div class="container text-center pt-5 mt-3">
        <h3>Almost there!<br> Now we search for an artist's Spotify ID.</h3>
    </div>

    <div class="row spot-section">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container text-center">
                <img class="spotify " src="{% static "images/spotify.png" %}" alt="">
            </div>

            <div class="search-container text-center">
                <form method="get">
                    <input id="spot" class="mx-3" type="text" name="artist" id="artist"
                        placeholder="    Enter artist name"> <br>
                    <button class="btn btn-primary  search-btn" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="container spotify-results text-center">
                <img class="spot-img" src="{{url}}" alt="">
                <p class="pt-1">{{name}}</p>
                {% if uri %}
                <input class="form-control copy-space input-md text-center" type="text" value="{{uri}}" id="{{uri}}">
                <button id="copy-text-btn" class="btn copy-btn btn-modal"
                onclick="copyLink('{{uri}}')">Copy ID</button>
            {% else %}
            {% endif %}
            </div>

        </div>
    </div>

</div>

<div class="container-fluid stats-section">
    <div class="container text-center">
        <h3 class="pt-5">Now that you have the ID you can search for the <br>artist's stats and performance.</h3>
    </div>

    <div class="container mt-5">
        <div class="search-container text-center">
            <form method="get">
                <input id="spot" class="mx-3" type="text" name="stats" id="stats"
                    placeholder="    Enter copied Spotify ID here"> <br>
                <button class="btn btn-primary  stats-btn" type="submit">Get Stats</button>
            </form>
        </div>
    </div>

    <p>{{name}}</p>
    <p>{{total_streams}}</p>
</div>


<script>
    function copyLink(element) {
        var copyText = document.getElementById(element);
        copyText.select();
        document.execCommand("copy");
    }
</script>
{% endblock %}