{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid intro">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container text-intro">
                <h1>Music has the power to shape, <br> change and reinforce our <br>perceptions.</h1>
                <p class="text-small p-2">Search your favourite musician's performance.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="container">
                <!-- <img class="d-none d-md-block d-sm-block intro-img1"
                src="https://thumbnails.production.thenounproject.com/kI53USzjuhbLdGybhpI0Y8HipWI=/fit-in/1000x1000/photos.production.thenounproject.com/photos/89F7E46E-A517-45AA-9E3B-A9A7FC67403E.jpg"
                
                alt=""> -->
                <img class="d-none d-md-block d-sm-block intro-img"
                    src="https://images.pexels.com/photos/2067677/pexels-photo-2067677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
            </div>

        </div>

    </div>
</div>
{% endblock %}